<a href="https://colab.research.google.com/github/Roykahu/Roykahu/blob/main/crime_rate_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Imagine you were hired as a Data Scientist/Analyst by the Central Police Oï¬ƒce of Metropolitan areas, and your job is now to create a predictive model for crime_rate

 ***variable meaning***
 
 Land_area: size in aquare miles

 total_population: estimated population in thoasands

 percent_city: percent population in central cities

 percent_senior: percent of population less than or equal to 65

 physicians: no. of proffesionally active physicians

 hospital_beds: total number of hospital beds

 graduates: percent of adults that finished highschool

 work_force: no. of persons in workforce in thoasands

 income: total income in millions of dollars

 crime_rate: ratio of serious crimes by the total population
 
 region: geographical region(4 in total)

In [35]:
import numpy as np 
import pandas as pd

In [36]:
Metropolitant_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv")

In [37]:
Metropolitant_data.columns

Index(['land_area', 'percent_city', 'percent_senior', 'physicians',
       'hospital_beds', 'graduates', 'work_force', 'income', 'region',
       'crime_rate'],
      dtype='object')

In [38]:
y = Metropolitant_data.crime_rate
#by convectional methods, y is the target variable

In [39]:
input_variables = ['percent_city', 'percent_senior', 'graduates', 'work_force', 'income', 'region']
#by convectional methods, x is input variables

In [40]:
X = Metropolitant_data[input_variables]

In [41]:
Metropolitant_data.describe()#stats

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,work_force,income,region,crime_rate
count,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
mean,2615.727273,42.518182,9.781818,1828.333333,6345.868687,54.463636,449.366667,6762.505051,2.494949,55.643030
std,3045.826210,17.348277,2.524547,3192.199763,9136.202716,7.773286,610.990885,10393.349660,1.013921,13.470943
min,47.000000,13.400000,3.900000,140.000000,481.000000,30.300000,66.900000,769.000000,1.000000,23.320000
25%,1408.000000,30.100000,8.350000,459.000000,2390.000000,50.250000,150.300000,2003.000000,2.000000,46.115000
50%,1951.000000,39.500000,9.700000,774.000000,3472.000000,54.000000,257.200000,3510.000000,3.000000,56.060000
75%,2890.500000,52.600000,10.750000,1911.500000,6386.500000,58.300000,436.500000,6283.500000,3.000000,63.860000
max,27293.000000,100.000000,21.800000,25627.000000,69678.000000,72.800000,4083.900000,72100.000000,4.000000,85.620000

In [42]:
Metropolitant_data.head()

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,work_force,income,region,crime_rate
0,1384,78.1,12.3,25627,69678,50.1,4083.9,72100,1,75.55
1,3719,43.9,9.4,13326,43292,53.9,3305.9,54542,2,56.03
2,3553,37.4,10.7,9724,33731,50.6,2066.3,33216,1,41.32
3,3916,29.9,8.8,6402,24167,52.2,1966.7,32906,2,67.38
4,2480,31.5,10.5,8502,16751,66.1,1514.5,26573,4,80.19

In [43]:
Metropolitant_data.isnull().sum()
#no null values, hence straight foward

land_area         0
percent_city      0
percent_senior    0
physicians        0
hospital_beds     0
graduates         0
work_force        0
income            0
region            0
crime_rate        0
dtype: int64

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [45]:
#this sklearn(scikit learn)is used to create models
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
#am yet to fully understand the statement above but it is very important to include it(random state should be constant from here henceforth)
Model = DecisionTreeRegressor(random_state=1)

# Fit model
Model.fit(X_train, y_train)

DecisionTreeRegressor(random_state=1)

In [46]:
from sklearn.tree import export_graphviz
import graphviz

In [47]:
print("Making predictions for the first five indexes:")
print(X.head())
print("The predictions are")
print(Model.predict(X.head()))

Making predictions for the first five indexes:
   percent_city  percent_senior  graduates  work_force  income  region
0          78.1            12.3       50.1      4083.9   72100       1
1          43.9             9.4       53.9      3305.9   54542       2
2          37.4            10.7       50.6      2066.3   33216       1
3          29.9             8.8       52.2      1966.7   32906       2
4          31.5            10.5       66.1      1514.5   26573       4
The predictions are
[75.55 56.03 56.55 67.38 80.19]

In [48]:
from sklearn.metrics import accuracy_score
#later came to find out that i cannot use accuracy score here because this is not a classification problem